
section,header,footer,article{
  display: block;
}

.footer{
  padding-top: 3em;
  text-align: center;
  height: 4em;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

a{
  text-decoration: none;
  color: #00AAE4;
}

#header {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.menu li {
    float: right;
    line-height:30px;
    height:30px;
    width:50px;
    display: inline;
}

.menu a{
  color: black;
}

.menu a:hover{
  color:blue;
}

.logo{
  float: left;
  color:green;
  font-size: 1.2em;
  font-weight:bold;
}
#wx{
  float: right;
}
