section,header,footer,article{
  display: block;
}

footer{
  padding-top: 3em;
  text-align: center;
  height: 4em;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

a{
  text-decoration: none;
  color: #00AAE4;
}

#header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 80px;
  background-image: url(../img/headbg.jpg);
  text-align: center;
  z-index: 1;
}

.menu li {
    float: right;
    line-height:30px;
    height:30px;
    width:50px;
    padding:5px;
    display: inline;
}

.menu {
  padding: 1em;
}

.menu a{
  color:white;
}

.menu a:hover{
  color:blue;
}

.menu .logo{
  width:10em;
  float: left;
  color:green;
  font-size: 1.2em;
  font-weight:bold;
  font-family:"隶书","宋体"
}
