.wrapper{
  clear: both;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;  
  
}

a{
  text-decoration: none;
  color: #00AAE4;
}


#hi{
  width:1.4em;
  height: 1.4em;
  border-radius: 1.4em;
  background: #000;
  color: #fff;
  line-height: 1.4em;
  font-size: 70px; 
  margin-top: 0em;
  text-align: center;
  cursor: help;
  margin-left: auto;
  margin-right: auto;

}

#hi:hover{
  color: #ccc;
  background: #333;
}

section {
  margin-top: 20px;
  text-align: center;
  font-size: 1.92em;
  line-height: 1.4em;
  float: none;
  clear: both;
  
}

p{
  margin: 1em;
  clear: both; 
}

#project{
   margin: 0px 0px 0px 0px;
  border:0px solid #F3F3F3;
  padding-left: 6%;
  height: 600px;
  width:94%;
  background-color: #F3F3F3;
}


#project-a{
  float: left;
  width: 50%;
  height: 100%;
  opacity: 0.5;
  background-image: url(img/project-jd.jpg);
}
#project-b{
  float:right;
  width: 50%;
  height: 100%;
  background-image: url(img/project-jd.jpg);
}

#duty a{
  margin: 0px;
  padding: 5px;
}
#project img{
  float: left;
  width: 45%;
  height: 600px;
}

#project a:first-child{
  opacity: 0.5;
}


h2{
  margin-top: 2em;
}

#head-c{
  text-anchor: center;
  background-color: #F3F3F3;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#head {
  width:160px;
  height: 160px;
  border-radius: 160px;
  background-image: url(../img/people-1.jpg);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#head:hover{
  opacity: 0.5;
}
address{
  margin: 1.5em;
}

.contract{
  background-color: #F3F3F3;
  width: 100%;
  text-align: center;
  border:1px solid #999;
  display: block;
  float: left;
}

.contract h1{
  margin: 1em;
}

input {
  margin: 0.5em;
  padding: 1em;
  width: 25%;
  text-align: left;
  box-sizing: border-box;
  border-color: #CECECE;
  border: 1px solid #999
}

textarea{
  margin-top: 1em;
  padding: 1em;
  width: 52%;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #999
}

.submit {
  margin: 1em;
  width:15%;
  text-align: center;
}

