#index_cover{
  background-image: url("../img/headbg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: gray;
  height: 400px;
 
}
#cover-position{
  padding-top: 200px;
  padding-left: 400px;
}

#cover_class{
  display: block;
  
}
#cover_name{
  display: block;
  font-size: 2em;
}

#hi{
  font-size: 90px;
  color: white;
  font-family: "1942";
  text-align: center;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin: -50px auto 0px;
}

.wrapper{
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;  
  
}

a{
  text-decoration: none;
  color: #00AAE4;
}

section {
  margin-top: 20px;
  margin-left: auto;
  margin-left: auto;
  text-align: center;
  font-size: 1.92em;
  line-height: 1.4em;
  clear: both;
  
}

p{
  margin: 1em;
  clear: both; 
}


#duty a{
  margin: 0px;
  padding: 5px;
}

#project{
  width: 971px;
  height: 439px;
  margin: 0px auto;
}

#head-c{
  text-anchor: center;
  background-color: #F3F3F3;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#head {
  width:160px;
  height: 160px;
  border-radius: 160px;
  background-image: url(../img/people-1.jpg);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#head:hover{
  opacity: 0.5;
}
