#claim{
	margin:1em 3em;
	font-size:3em;
}

dl{
	display: inline-block;
	margin: 0px auto;
	text-align: center;
//	border: 2px double;
}
dt{
	clear: both;
	display: block;
}
dt img{
	float:left;
}



.cardc {
	position: relative;
	margin: 0px auto;
	width: 1000px;
}

.card{
	line-height: 1.9em;
	width: 100%;
	height: 160px;
	border: 2px grey double;
	position: relative;
}
.card:hover{
	background-color:#f3f3fF;
	border: 2px grey double;
}

.name{
	display: block;
	height: 20px;
	width: 160px;
	position: absolute;
	bottom: 5px;
	text-align: center;
	font-size:larger;
	color: red;
}

.talk{
	font-size: 1.3em;
	font-style: oblique;
}

.interest{
	display: block;
}

.post{
	display: block;
	float: right;
}


.mdetail{
	display: block;
//	width: 840px;
}

