h2{
  padding-top: 2em;
}
p{
  text-align: left;
  text-indent: 2em;
    margin: 1.4em 8em;
   line-height: 1.5em;
}
img{
  overflow: hidden;
}

article{
  text-align: center;
  display: block;
}

.head_cover{
  position: relative;
  height: 400px;
  width: 100%;
  margin: 0px auto;
  padding: 1.5em 0px;
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.project-heading{
  position: relative;
  color: red;
  text-align: center;
  margin-top: 12em;
}

.project-heading h1{
  margin-bottom: 0.4em;
  line-height: 1em;
  font-size: 2.6em;
}

.project-heading h2{
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 0.525em;
}

.project-background, .project-design{
  clear: left;
//  padding: 1em 5em;
  font-size: 1.3em;
  
}

body{
  background-color:#f3ffff;
}
