body{
  height: auto;
}

.wrapper{
  padding-top:100px; 
}

.search_filter{

}

.tags{
  text-align: center;
  display: block;
}

.tags_item{
  display: inline;
  padding: 0em 3em;
}
.tags_item_name{
  font-size:1.5em;
}
.section_container{
  width: 100%;
  height: 100%;
}



.project-grid{
  padding-top:30px; 

}

.section_container ul{
  display:inline-block;
}
.section_container li{
  width: 33.3%;
  float: left;
  list-style: none;
}

.project{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.section_cover{
  width: 450px;
  height: 337px;
}

.section_cover:hover{
  opacity: 0.5;
}

.project:hover{
  color: white;
}
