article{
  text-align: center;
  display: block;
}

.section_container{
  position: relative;
  height: 100%;
  max-width: 800px;
  margin: 0px auto;
  padding: 1.5em 0px;
}
.project-heading{
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.project-heading h1{
  margin-bottom: 0.4em;
  line-height: 1em;
  font-size: 2.6em;
}

.project-heading h2{
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 0.525em;
}

.section_container img{
  border: 12px #f3f3f3 double;
  overflow: hidden;
  width: 800px;
}

p{
  margin-bottom: 1.4em;
  line-height: 1.5em;
}