article{
  text-align: center;
  display: block;
}

.head_cover{
  position: relative;
  height: 400px;
  width: 100%;
  margin: 0px auto;
  padding: 1.5em 0px;
  background-image: url("../img/project/1-1.jpg");
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center top;
}
.project-heading{
  position: relative;
  color: red;
  text-align: center;
  margin-top: 12em;
}

.project-heading h1{
  margin-bottom: 0.4em;
  line-height: 1em;
  font-size: 2.6em;
}

.project-heading h2{
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 0.525em;
}

.project-background, .project-design{
  padding: 1em 5em;
  font-size: 1.9em;
  background-color:#f3ffff;
}
img{
  border: 12px #f3f3f3 double;
  overflow: hidden;
  width: 800px;
}

p{
  margin-bottom: 1.4em;
  line-height: 1.5em;
}