.indexslider{
  padding: 3em;
}

.wrapper{
  clear: both;
}

.indexslider{
  min-height: 155px;
}

.sliderNav{
  text-align: center;
}

#project-one{
  z-index: 2;
  left:0px;
  top:0px;
  display: :list-item;
}

#project-two{
  z-index: 0;
  left:-9999px;
  top:-9999px;
  display: list-item;
}
#project-three{
  z-index: 0;
  left:-9999px;
  top:-9999px;
  display: list-item;
}

* {
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: #00AAE4;
}
header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 80px;
  background-image: url(img/headbg.jpg);
  align-content: center;
  text-align: center;
  z-index: 1;
}

nav ul li {
    float: right;
    line-height:30px;
    height:30px;
    width:50px;
    padding:5px;
    display: inline;
}

nav {
  padding: 1em;
}

nav ul li a{
  color:white;
}

a:hover{
  color:blue;
}

.logo{
  width:10em;
  float: left;
  color:green;
  font-size: 1.2em;
  text-shadow:initial;
  font-weight:bold;
  display: inline;
  font-family:"sans-serif","隶书","宋体"
}

#hi{
  width:1.4em;
  height: 1.4em;
  border-radius: 1.4em;
  background: #000;
  color: #fff;
  line-height: 1.4em;
  font-size: 70px; 
  margin-top: 0em;
  text-align: center;
  position: relative;
  left: 45%;
 /* margin-left: 50%;*/
  cursor: help;

}

#hi:hover{
  color: #ccc;
  background: #333;
}

section {
  margin-top: 20px;
  text-align: center;
  font-size: 1.92em;
  line-height: 1.4em;
  float: none;
  clear: both;
}

p{
  margin: 1em;
  clear: both; 
}

#project{
   margin: 0px 0px 0px 0px;
  border:0px solid #F3F3F3;
  padding-left: 6%;
  height: 600px;
  width:94%;
  background-color: #F3F3F3;
}
#project-a{
  float: left;
  width: 50%;
  height: 100%;
  opacity: 0.5;
  background-image: url(img/project-jd.jpg);
}
#project-b{
  float:right;
  width: 50%;
  height: 100%;
  background-image: url(img/project-jd.jpg);
}

section a{
  margin: 0px;
  padding: 5px;
}
#project a img{
  float: left;
  width: 45%;
  height: 600px;
}


img[title="ks"] {
  opacity: 0.5;
}


h2{
  margin-top: 2em;
}

#head-c{
  text-anchor: center;
  background-color: #F3F3F3;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#head {
  transition: all;
  width:160px;
  height: 160px;
  border-radius: 160px;
  background-image: url(img/people-1.jpg);
  background-color: #f3f3f3;
  text-align: center;
  margin-left: 42%;
}
#head:hover{
  opacity: 0.5;
}
address{
  margin: 1.5em;
}

.contract{
  background-color: #F3F3F3;
  width: 100%;
  text-align: center;
  border:1px solid #999;
  display: block;
  float: left;
}

.contract h1{
  margin: 1em;
}

input {
  margin: 0.5em;
  padding: 1em;
  width: 25%;
  text-align: left;
  box-sizing: border-box;
  border-color: #CECECE;
  border: 1px solid #999
}

textarea{
  margin-top: 1em;
  padding: 1em;
  width: 52%;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #999
}

.submit {
  margin: 1em;
  width:15%;
  text-align: center;
}

footer{
  padding-top: 3em;
  text-align: center;
  height: 4em;
  width: 100%;
}